<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisionaryVentures</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VisionaryVentures.styles.css" asp-append-version="true" />
    <style>
        .active-link {
            font-weight: bold;
            color: #007bff; /* Example style: Blue color and bold text */
        }


        .active-link {
            font-weight: bold;
            color: #007bff;
        }

        .navbar-nav .nav-link:hover {
            color: #007bff !important;
        }
        .nav-item{
            font-size:1.5em;
            padding-right:10%;
        }

    </style>
</head>
<body>
    @{
        var currentPage = Context.GetRouteValue("page")?.ToString() ?? "";
        var userType = Context.Session.GetInt32("usertype");
    }
    @if (currentPage != "/Login" && userType == 1)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-#1c3459 align-items-center">
                <img class="img-fluid navbar-brand-img" id="top-logo" src="~/img/Madison County Logo.jpg" />
                <div class="container" id="nav-bar">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center mx-auto" style="width: 200px;">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Home" ? "active-link" : "")" asp-area="" asp-page="/Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/KnowledgeLibrary" ? "active-link" : "")" asp-area="" asp-page="/KnowledgeLibrary">Knowledge Base</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Reports" ? "active-link" : "")" asp-area="" asp-page="/Reports">Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Messages" ? "active-link" : "")" asp-area="" asp-page="/Messages">Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/AdminPanel" ? "active-link" : "")" asp-area="" asp-page="/AdminPanel">Admin Panel</a>
                            </li>

                        </ul>
                        <form asp-page="Login" asp-page-handler="LogoutHandler" id="logout" class="ml-auto">
                            <input type="submit" class="btn btn-danger" value="Logout">
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    }
    else if (currentPage != "/Login" && userType == 2)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-#1c3459 align-items-center">
                <img class="img-fluid navbar-brand-img" id="top-logo" src="~/img/Madison County Logo.jpg" />
                <div class="container" id="nav-bar">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Home" ? "active-link" : "")" asp-area="" asp-page="/Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/KnowledgeBase" ? "active-link" : "")" asp-area="" asp-page="/KnowledgeLibrary">Knowledge Base</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Reports" ? "active-link" : "")" asp-area="" asp-page="/Reports">Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(currentPage == "/Messages" ? "active-link" : "")" asp-area="" asp-page="/Messages">Messages</a>
                            </li>
                        </ul>
                        <form asp-page="Login" asp-page-handler="LogoutHandler" id="logout" class="ml-auto">
                            <input type="submit" class="btn btn-danger" value="Logout">
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>