@page
@model VisionaryVentures.Pages.DataSetsModel
@{
    ViewData["Title"] = "Data Sets";
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        Page();
    }
    else
    {
        Response.Redirect("/Login");
        return;
    }
}
<div class="side-bar">
    <div class="d-flex flex-column flex-shrink-0 p-3 side-bar">
        <p>@HttpContext.Session.GetString("username")</p>
        <hr>

        <div class="input-group" id="search-form">
            <input type="search" class="form-control rounded" id="search" placeholder="Search datasets..." aria-label="Search">
            <button id="search-btn" type="button" class="btn btn-primary search-button" onclick="filterItems('search');">Search</button>
        </div>

        @* <div class="nav nav-pills flex-column mb-auto">
            @foreach (var fileName in Model.DataSetFiles)
            {
                <a asp-page-handler="ReadCsv" asp-route-filename="@fileName"
                   class="btn dataset-btn @(Model.SelectedFileName == fileName ? "btn-selected" : "btn-primary") my-1"
                   id="data-btn">
                    @fileName
                </a>
                @if (Model.SelectedFileName == fileName)
                {
                    <form method="get" asp-page="TensorFlowAnalysis" asp-route-fileName="@fileName" class="d-inline">
                        <button type="submit" class="btn btn-success btn-sm ml-2">Analyze with TensorFlow</button>
                    </form>
                }
                <hr>
            }
        </div> *@

        @* <div class="nav nav-pills flex-column mb-auto">
            @foreach (var fileName in Model.DataSetFiles)
            {
                <!-- Changed asp-page-handler to "ReadFile" to accommodate both CSV and Excel files -->
                <a asp-page-handler="ReadFile" asp-route-filename="@fileName"
                   class="btn dataset-btn @(Model.SelectedFileName == fileName ? "btn-selected" : "btn-primary") my-1"
                   id="data-btn">
                    @fileName
                </a> *@

        <div class="nav nav-pills flex-column mb-auto">
            @{
                string imagesDir = Directory.GetCurrentDirectory();
                imagesDir += @"\wwwroot\dataset\";
                <br />
                DirectoryInfo imagesFolder = new DirectoryInfo(imagesDir);

                var fileListing = imagesFolder.GetFiles();
                <hr />
                <br />
                @foreach (var file in fileListing)
                {
                    <div class="nav nav-pills flex-column mb-auto">
                        <div style="text-align: center; display: flex; flex-direction: column; justify-content: space-between;">
                            <a asp-page-handler="ReadFile" asp-route-filename="@file.Name" id="data-btn "class="btn dataset-btn @(Model.SelectedFileName == file.Name ? "btn-selected" : "btn-primary") my-1" id="data-btn">
                                @file.Name
                            </a>
                            @if (Model.SelectedFileName == file.Name)
                            {
                                <form method="get" asp-page="TensorFlowAnalysis" asp-route-fileName="@file.Name" class="d-inline">
                                    <button type="submit" class="btn btn-success btn-sm mb-1">Analyze with TensorFlow</button>
                                </form>
                                <form method="post" onsubmit="return confirm('Are you sure you want to delete this file?');">
                                    <button type="submit" asp-page-handler="DeleteFile" asp-route-fileName="@file.Name" class="btn btn-danger btn-sm ml-2" style="width: 100%;">Delete</button>
                                </form>
                            }
                            
                        </div>
                    </div>
                    <hr>
                }
            } 
            
        </div>

        <div class="side-bar-lower mb-3">
            <form method="post" enctype="multipart/form-data" asp-action="DataSets">
                <input asp-for="files" type="file" class="form-control" multiple>
                <br>
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<div class="main-body">
    <div class="container">
        <!-- Data display table -->
        <div class="card data-set">
            <div class="card-header">Data</div>
            <div class="input-group">
                <input type="search" class="form-control rounded" id="data-search" placeholder="Search within dataset..." aria-label="Search" onkeyup="filterTableRows()">
            </div>

            <div class="card-body table-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @if (Model.Headers != null)
                            {
                                foreach (var header in Model.Headers)
                                {
                                    <th>@header</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Records != null)
                        {
                            foreach (var record in Model.Records)
                            {
                                <tr>
                                    @foreach (var field in record)
                                    {
                                        <td>@field</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>