@page
@model VisionaryVentures.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["fileName"] = HttpContext.Session.GetString("fileName");
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        Page();
    }
    else
    {
        Response.Redirect("/Login");
        return;
    }
}

<div class="colab-body">
    <br />
    @if (TempData["SkippedFiles"] != null)
    {
        <div class="alert alert-warning" role="alert">
            @TempData["SkippedFiles"]
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 mb-3 mb-md-0">
                <h3>Upload Your Data</h3>
                <form method="post" enctype="multipart/form-data" asp-action="DataSets">
                    <input asp-for="files" type="file" class="form-control mb-2" multiple>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-4 col-12 mb-3 mb-md-0">
                <h3>Edit Dataset Description</h3>
                <button class="btn btn-primary" onclick="toggleEditDescriptionBoxes()">Edit Descriptions</button>
            </div>
            <div class="col-md-4 col-12">
                <h3>Delete Dataset</h3>
                <button class="btn btn-danger" onclick="toggleConfirmDeleteButtons()">Delete</button>
            </div>
        </div>
    </div>



    <hr />
    <div class="input-group" id="search-form">
        <input type="search" class="form-control rounded" id="search" placeholder="Search datasets..." aria-label="Search">
        <button id="search-btn" type="button" class="btn btn-primary search-button" onclick="filterItems2('search');">Search</button>
    </div>
    <!-- Display existing collaborations -->
    @{
        string imagesDir = Directory.GetCurrentDirectory();
        imagesDir += @"\wwwroot\dataset\";
        <br />
        DirectoryInfo imagesFolder = new DirectoryInfo(imagesDir);

        var fileListing = imagesFolder.GetFiles();
        <section class="allCards" style="display: grid; grid-gap: 2em; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
            @foreach (var file in fileListing)
            {
                <div class="card" style="max-width: 20rem;">
                    <div class="card-body" style="text-align: center; display: flex; flex-direction: column;">
                        <h5 class="card-title">@file.Name</h5>
                        <p class="card-text">@Model.GetDatasetDescription(file.Name)</p>
                        <!-- Text box goes here for the user to type in the new Description -->
                        <form method="post" asp-page-handler="UpdateDatasetDescription" style="display: none;" id="form-editDescription-@file.Name">
                            <input type="text" name="newDescription" class="form-control edit-description" id="editDescription-@file.Name" placeholder="Enter New Description" required/>
                            <br />
                            <input type="hidden" name="datasetId" value="@Model.GetDatasetId(file.Name)" />
                            <input type="submit" class="btn btn-success" value="Save Description" />
                        </form>

                        <div style="margin-top: auto;">
                            <hr />
                            <a asp-page="/Datasets" asp-page-handler="ReadFile" asp-route-filename="@file.Name" class="btn dataset-btn @(Model.SelectedFileName == file.Name ? "btn-selected" : "btn-primary") my-1">
                                Build Report
                            </a>
                            <!-- Form for Delete Confirmation, initially hidden -->
                            <form method="post" asp-page-handler="DeleteFile" asp-route-fileName="@file.Name" class="confirm-delete-form">
                                <button type="submit" class="btn btn-success confirm-delete my-1" style="display: none;">Confirm Delete</button>
                            </form>


                        </div>
                    </div>
                </div>
            }

        </section>
    }
</div>
