@page
@model VisionaryVentures.Pages.LoginModel
@{
}
<style>
    body{background: #1c3459;
         color:#fff;
    }
    
</style>
<img id="logo" src="~/img/Madison County Logo.jpg" />



@if (ViewData["LoginMessage"] != null)
    {
        <p class="text-success">@ViewData["LoginMessage"]</p>
    }


<div class="login-container">
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>@HttpContext.Session.GetString("username") logged in</p>
        // Log out here
        <form asp-page="Login" asp-page-handler="LogoutHandler">
            <input type="submit" class="btn btn-danger" value="Logout">
        </form>
    }
    else if (HttpContext.Session.GetString("LoginError") != null)
    {
        <p class="text-danger">@HttpContext.Session.GetString("LoginError")</p>


                // Let the user try login again.
        <form asp-page="Login">
            <div class="login username">
                <input asp-for="Username" class="form-control" placeholder="Enter Username" aria-label="Username" />
            </div>
            <div class="login password">
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" aria-label="Password" />
            </div>
            <input type="submit" class="btn btn-primary login-btn" value="Login" />
        </form>
        <br />

    }
    else
    {
                // First time loading the page

        
        <form asp-page="Login">
                <div class="login username">
                    <input asp-for="Username" class="form-control" placeholder="Enter Username" aria-label="Username" value="@Model.Username"/>
                </div>
                <div class="login password">
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" aria-label="Password" value="@Model.Password" />
                </div>
                <input type="submit" class="btn btn-primary login-btn" value="Login" />
                <button type="submit" class="btn btn-secondary login-btn" asp-page="Login" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
                <button type="submit" class="btn btn-secondary login-btn" asp-page="Login" asp-page-handler="ClearHandler" formnovalidate>Clear</button>
                <button type="submit" class="btn btn-primary login-btn" asp-page="Login" asp-page-handler="CreateUserHandler">Create Account</button>
        </form>
        <br />
    }


}
</div>
<footer>
    <br />
    <br/>
    <hr />
    <p>Created by Elliott Tulchinsky, Marc Houser, Hoang Le, Maddie West, Bryce Irvin, Eric Chindgren, Ben Eidelkind</p>
</footer>
