@page
@using Microsoft.AspNetCore.Http
@model VisionaryVentures.Pages.PlansModel
@{
    ViewData["Title"] = "Plans";
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        Page();
    }
    else
    {
        Response.Redirect("/Login");
        return;
    }
}
<div class="side-bar">
    <div class="row">
        <nav class="col-md-3 d-flex flex-column flex-shrink-0 p-3 side-bar">
            <p>@HttpContext.Session.GetString("username")</p>
            <hr />
            <div>
                <form method="get">
                    <div class="input-group" id="search-form">
                        <input type="search" class="form-control rounded" name="SearchTerm" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                    <div>
                        <h2>Plans</h2>
                        <button type="submit" name="SelectedPlanID" value="" class="btn btn-secondary">Exit Plan</button>
                    </div>
                    <hr />
                    @if (Model.plans != null && Model.plans.Any())
                    {
                        @foreach (var plan in Model.plans)
                        {
                            <form>
                                <div>
                                    <input type="hidden" name="SelectedPlanID" value="@plan.PlanID" />
                                    <button type="submit" class="btn btn-primary">@plan.PlanName</button>
                                </div>
                            </form>
                            <hr />
                        }
                    }
                    else
                    {
                        <p>No Plans Found.</p>
                    }
                </form>
            </div>
        </nav>
    </div>
</div>


<div class="main-body">
    <!--Used to display Adding-->
    @if (!Model.ShowAddPlanForm)
    {
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="form-btn2">
            <form method="post" class="form-inline">
                <button type="submit" name="action" value="ShowAdd" class="btn btn-primary mb-3">Add Plan</button>
            </form>
        </div>
    }
    else
    {
        <div class="card" id="btn-card">
            <div class="card-header">Add New Plan</div>
            <div class="card-body">
                <form asp-page-handler="AddPlan" method="post">
                    <input type="hidden" name="action" value="Add" />
                    <div class="form-group">
                        <label for="PlanName">Plan Name</label>
                        <input asp-for="PlanName" type="text" class="form-control" id="PlanNameInput" name="PlanName" required>
                    </div>
                    <div class="form-group">
                        <label for="PlanDescription">Plan Description</label>
                        <input asp-for="PlanDescription" type="text" class="form-control" id="PlanDescriptionInput" name="PlanDescription" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-primary" onclick="populatePlanFields()">Populate</button>
                    <button type="button" class="btn btn-secondary" onclick="clearPlanFields()">Clear</button>
                    <button type="button" onclick="location.href='@Url.Page("/Plans")'" class="btn btn-secondary">Cancel</button>
                </form>
            </div>
        </div>
    }

    @if (!Model.ShowAddPlanContent)
    {
        <!--Used to display Adding-->
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="form-btn1">
            <form method="post" class="form-inline">
                <button asp-page-handler="AddContent" type="submit" name="action" value="ShowAddContent" class="btn btn-primary mb-3">Add Plan Step</button>
            </form>
        </div>
    }
    else
    {
        <!-- Form to add to an existing plan -->
        <div class="card" id="btn-card">
            <div class="card-header">Add to Existing Plan</div>
            <div class="card-body">
                <form asp-page-handler="AddContent" method="post">
                    <div class="form-group">
                        <input type="hidden" name="action" value="AddContent" />
                        <label for="SelectedPlan">Select a plan to add to:</label>
                        <select asp-for="PlanID" class="form-control" id="SelectedPlanID">
                            <option selected>Choose...</option>
                            @foreach (var item in Model.plans)
                            {
                                <option value="@item.PlanID">@item.PlanName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plan step">Plan Step</label>
                        <input asp-for="PlanStep" type="text" class="form-control" id="PlanStep" name="PlanStep" required>
                    </div>
                    <div class="form-group">
                        <label for="ContentDescription">Content</label>
                        <input asp-for="ContentDescription" type="text" class="form-control" id="ContentDescription" name="ContentDescription" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" onclick="location.href='@Url.Page("/Plans")'" class="btn btn-secondary">Cancel</button>
                </form>
            </div>
        </div>
    }

    <div class="container knowledge-container">
        <div class="card">
            <div class="card-header">
                Plans
            </div>

            <div class="card-body knowledge-box">
                <!-- Placeholder for messages -->
                <form asp-page="Plans" class="form-inline">
                    @if (Model.SelectedPlanContent != null && Model.SelectedPlanContent.Any())
                    {
                        @foreach (var item in Model.SelectedPlanContent)
                        {
                            <p>@item.PlanStep @item.ContentDescription</p>
                        }
                    }
                    else
                    {
                        <p>No content found.</p>
                    }
                </form>
            </div>

        </div>
    </div>

</div>
